*{
    margin: 0;
    padding: 0;
    background-color: azure;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    background-color: blue;
    display: flex;
    float: left;
    align-items: center;
}
nav h1{
    background-color: transparent;
    color: white;
}

.Test_Box{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: red;
}
